.gameScore {
    text-align: center;
    height: 90px;
    position: fixed;
    z-index: +1;
    width: 100%;
    line-height: 1em;
    padding: 7px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  div.gameScore {
  
  }
  
  h3.score {
    margin-top: 5px;
    padding: 0;
    font-weight: 50px;
    font-size: 40px;
    font-family: impact;
    color: white;
  }
  h3.status{
    margin: 0;
    padding: 0;
    color: red;
    font-family: impact;
  }